{% extends 'base.html' %}
{% block content %}
<header style="text-align: center;">
    <h1>
      A Blog
    </h1>
    <p class="text-muted">
      About | Privacy | Terms
    </p>
</header style="text-align: center;">
  
  <article class="text-center">
    <h1>
      An article
    </h1>
    <p style="text-align:left;">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute <i>irure</i> dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat <b>cupidatat</b> non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    <hr class="article-divider">
  </article>
  
  <article class="text-center">
    <h1>
      Another article
    </h1>
    <date></date>
    <p style="text-align:left;">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute <i>irure</i> dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    <hr class="article-divider">
  </article>
  
  <p class="copyright" style="text-align: center;">2020 Lars Augustin</p>

{% endblock %}